<h1 class="jumbotron">About Page</h1>
<p>This website is about our teacher Jeremey Brown and Jeremy Brown type memorabelia. Note, the items on this website aren't real, they're all made up. All of them. Even the hat.</p>
